@import url('https://fonts.googleapis.com/css2?family=Candal&family=Kumbh+Sans&display=swap');

:root {
  --small-b-radius: 5px;
  --main-color: #57407C;
  --secondary-color: #442b6bb2;
  --cell-color: #69C5B7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  font-size: 1.125rem;
}

body {
  background-color: var(--main-color);
  color: white;
  
  /* Responsive font-size */
  font-size: calc(12px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
}

.playground {
  margin: 0 auto;
  height: 100vh;
  padding-top: 1.6em;
  width: min(22rem, 90%);
  transition: opacity 300ms;
}

.field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: var(--small-b-radius);
}

.cell {
  background-color: var(--cell-color);
  aspect-ratio: 1/1;
  margin: 0.1rem;
  width: 100%;
  border-radius: var(--small-b-radius);
  font-size: 2.2em;
  font-family: 'Candal', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  cursor: pointer;
}

.restart {
  background-color: var(--secondary-color);
  padding: 0.3em 1.3em;
  border-radius: var(--small-b-radius);
}

.pause {
  width: 4.7rem;
  background-color: #ff5e5e;
  padding: 0.3em 1.1em;
  border-radius: var(--small-b-radius);
  text-align: center;
}

.restart, .pause, .sizes > div, .frame, .time {
  text-shadow: 1px 1px 2px #47474771;
  box-shadow: 2px 2px 6px 0px #223c5033;
  transition: box-shadow, text-shadow, 100ms;
}

.restart:hover, 
.pause:hover, 
.sizes > div:hover {
  box-shadow: 3px 3px 7px 0px #3a3a3a5e;
}

.display {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.moves {
  background-color: var(--secondary-color);
  padding: 0.4em 1.2em;
  border-radius: 5px;
}

.time {
  width: 6rem;
  background-color: var(--secondary-color);
  padding: 0.4em 1.2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minutes,
.seconds,
.colon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minutes {
  margin-left: 0.112rem;
}


.frame {
  background-color: var(--secondary-color);
  padding: 0.5em 1em;
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: var(--small-b-radius);
}

.sizes {
  display: flex;
  justify-content: space-around;
  gap: 0.2rem;
  margin-top: 0.5rem;
}

.sizes > div {
  width: 100%;
  text-align: center;
  padding: 0.3em 0.5em;
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.label {
  display: none;

  position: absolute;
  width: 100%;
  text-align: center;
  padding: 1em 2em;
  background-color: var(--secondary-color);
  border: solid 2px grey;
  font-size: 2rem;
  backdrop-filter: blur(7px);
}
.label span {
  font-size: 1.4rem;
}

.label button {
  display: block;
  font-size: 0.9rem;
  margin: 1rem auto 0 auto;
  padding: 1em 2.2em;
  opacity: 0.9;
  border: none;
  border-radius: var(--small-b-radius);
  text-align: center;
  cursor: pointer;
  transition: opacity, background-color, 100ms;
}

.label button:hover {
  opacity: 1;
  background-color: rgb(255, 255, 126);
  text-shadow: 1px 1px 1px #64646438;
}