@import url('https://fonts.googleapis.com/css2?family=Candal&family=Kumbh+Sans&display=swap');

:root {
  --small-b-radius: 5px;
  --main-color: #57407C;
  --secondary-color: #442b6bb2;
  --cell-color: #69C5B7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  font-size: 1.125rem;
}

body {
  background-color: var(--main-color);
  color: white;
  
  /* Responsive font-size */
  font-size: calc(12px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
}

.playground {
  margin: 0 auto;
  height: 100vh;
  padding-top: 1.6em;
  width: min(22rem, 90%);
}

.field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: var(--small-b-radius);
}

.cell {
  background-color: var(--cell-color);
  aspect-ratio: 1/1;
  margin: 0.1rem;
  width: 100%;
  border-radius: var(--small-b-radius);
  font-size: 2.2em;
  font-family: 'Candal', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  cursor: pointer;
}

.restart {
  background-color: var(--secondary-color);
  padding: 0.3em 1.1em;
  border-radius: var(--small-b-radius);

}

.pause {
  background-color: rgb(255, 94, 94);
  padding: 0.3em 1.1em;
  border-radius: var(--small-b-radius);
}

.display {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.moves {
  background-color: var(--secondary-color);
  padding: 0.4em 1.2em;
  border-radius: 5px;
}

.time {
  width: 6rem;
  background-color: var(--secondary-color);
  padding: 0.4em 1.2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minutes,
.seconds,
.colon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minutes {
  margin-left: 0.112rem;
}


.frame {
  background-color: var(--secondary-color);
  padding: 0.5em 1em;
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: var(--small-b-radius);
}

.sizes {
  display: flex;
  justify-content: space-around;
  gap: 0.2rem;
  margin-top: 0.5rem;
}

.sizes > div {
  width: 100%;
  text-align: center;
  padding: 0.3em 0.5em;
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.label {
  display: none;
  position: absolute;
  padding: 1em 2em;
  background-color: var(--secondary-color);
  border: solid 2px grey;
  font-size: 2rem;
  top: 30vh;
  left: 30vw;
}
